.items {
    height: 200px;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.item1 {
    background-color: dodgerblue;
}

.item2 {
    background-color:mediumblue;
}

.item3 {
    background-color: darkblue;
}

.item4 {
    background-color: brown;
}

.item5 {
    background-color: rgb(59, 146, 33);
}

.item6 {
    background-color: blueviolet;
}
